<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 </head>
<body>
 <!-- family_template.html -->
<div class="block max-w-fit p-2 cursor-pointer bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 font-mono tracking-tight text-gray-900 dark:text-white">emsi.{{ family }}</h5>
    <p class="font-normal text-md font-mono text-gray-700 dark:text-gray-400">
       <span class="text-sm"> Family:</span> {{ family }}&nbsp;&nbsp;{{ vcpu }} vCPU&nbsp;&nbsp;{{ memory }} GiB <span class="text-sm">Memory</span>
    </p>
</div>

</body>
</html>